
.sliderWrapper {

    :global(.swiper-button-next) {
        color: #FFBA08;
        height: 60px;
        margin-right: 2.65rem;
        width: 60px;
    }

    :global(.swiper-button-prev) {
        color: #FFBA08;
        height: 60px;
        margin-left: 2.65rem;
        width: 60px;
    }
    :global(.swiper-pagination-bullet) {
        width: 1rem;
        height: 1rem;
    }

    :global(.swiper-pagination-bullet-active) {
        background: #FFBA08;
    }
}
